#about {
    padding: 100px;
    background-color: var(--dark2);
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about-content h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
}

.truncated-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* Number of lines to show */
    -webkit-box-orient: vertical;
    transition: max-height 0.5s ease-out;
}

.truncated-text.expanded {
    -webkit-line-clamp: unset;
    max-height: none; /* Allow content to expand fully */
}



@media (max-width: 768px) {
    #about {
        padding: 50px 20px;
    }
}