#journey {
    background-color: var(--dark2);
    padding: 100px 0;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}


.timeline::before {
    content: '';
    position: absolute;
    width: 1px;
    background-color: var(--grey2);
    left: 200px;
    top: 0;
    bottom: 0;
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.timeline-item.hidden-timeline-item {
    display: none;
}

.timeline.expanded .timeline-item.hidden-timeline-item {
    display: flex; /* Or block, depending on original display */
}

.timeline-year {
    position: absolute;
    left: 0;
    width: 180px; /* Aligns right edge with the timeline line */
    text-align: right;
    color: var(--grey2);
    padding-right: 0; /* Ensures text aligns directly to the right edge */
    white-space: nowrap;
}

.timeline-content {
    margin-left: 230px;
    background-color: var(--dark1);
    padding: 20px 30px 20px 60px;
    border-radius: 8px;
    position: relative;
}

.timeline-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: var(--dark2);
}

.timeline-content::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid var(--prime1);
    border-radius: 50%;
    background-color: var(--dark2); /* Default state */
    left: -38px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: blipNode 2s infinite alternate; /* Apply animation */
}

@keyframes blipNode {
    0% {
        background-color: var(--dark2);
        box-shadow: 0 0 0 rgba(48, 233, 181, 0);
    }
    50% {
        background-color: var(--prime1);
        box-shadow: 0 0 10px var(--prime1); /* Glow effect */
    }
    100% {
        background-color: var(--dark2);
        box-shadow: 0 0 0 rgba(48, 233, 181, 0);
    }
}

.timeline-content h3 {
    font-size: 1.5em;
    color: var(--prime1);
}

.timeline-organization {
    font-size: 1em;
    margin: 10px 0;
}

.timeline-details {
    font-size: 0.9em;
    color: var(--grey2);
}

@media (max-width: 768px) {
    #journey {
        padding: 50px 20px;
    }

    .timeline::before {
        left: 20px;
    }

    .timeline-year {
        position: static;
        width: auto;
        text-align: left;
        padding-right: 0;
        margin-bottom: 10px;
        line-height: normal;
    }

    .timeline-content {
        margin-left: 20px;
        padding: 15px 20px 15px 40px;
    }

    .timeline-content::before {
        left: -10px;
    }
}